<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167222665-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-167222665-1');
  </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Montserrat:ital@0;1&display=swap"
    rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link type="text/css" rel="stylesheet" href="/stylesheet/css/materialize.min.css" media="screen,projection" />
  <script src="https://kit.fontawesome.com/9005dcba97.js" crossorigin="anonymous"></script>
  <title>Gerald Addo-Tetteh</title>
</head>

<body>