*, ::before, ::after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 3rem;
}
nav {
  background-image: linear-gradient(to right bottom,
  rgba(100, 181, 246,1),
  rgba(144, 202, 249,1),
  rgba(187, 222, 251,1),
  rgba(227, 242, 253,1),
  rgba(255, 235, 238,1),
  rgba(255, 205, 210,1),
  rgba(239, 154, 154,1),
  rgba(229, 115, 115,1)
  );
}
hr {
  width: 50%;
}
.center-text{
  text-align: center;
}

/* rgb(255, 38, 0) */
.shape-wrapper-red {
  background-color: rgb(255, 38, 0);
}
.shape-wrapper-blue {
  background-color: aqua;
}
.intro-card{
  height: 700px;
  margin: 2.5rem 0;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
  background-image: linear-gradient(90deg, rgba(43,40,40,0.7553396358543417) 27%, rgba(42,44,45,0.7245273109243697) 100%), url(../img/stereo_beats_header.png);
  position: relative;
  background-size: cover;
  background-position: left;
}
.developer-name {
  text-transform: uppercase;
  color: blue;
}
.page-header-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-110%);
}
.intro-card-img {
  transform: translate(0,40%);
  max-width: 192px;
  width: 100%;
}
.default-part-1 {
  font-size: 3.5rem;
}
.default-part-2 {
  font-size: 2.5rem;
}
.large-part-1 {
  font-size: 8rem;
}
.large-part-2 {
  font-size: 7rem;
}
nav .brand-logo {
  font-size: 3rem;
}
span.part-1 {
  font-family: 'Grenze Gotisch', cursive;
  color: red;
}
span.part-2 {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-style: italic;
}

.card {
  height: 220px;
}
@media only screen and (max-width: 1260px) {
  .intro-card-img {
    width: 20%;
  }
  .large-part-1 {
    font-size: 7rem;
  }
  .large-part-2 {
    font-size: 6rem;
  }
  .developer-name {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1260px) {
  /* .intro-card-img {
    width: 20%;
  } */
  .large-part-1 {
    font-size: 5rem;
  }
  .large-part-2 {
    font-size: 4rem;
  }
  .developer-name {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 728px) {
  .large-part-1 {
    font-size: 4rem;
  }
  .large-part-2 {
    font-size: 3rem;
  }
  body {
    padding: 0;
  }
}
@media only screen and (max-width: 556px) {
  .large-part-1 {
    font-size: 3rem;
  }
  .large-part-2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 408px) {
  .large-part-1 {
    font-size: 2.5rem;
  }
  .large-part-2 {
    font-size: 1.5rem;
  }
  .developer-name {
    font-size: 1rem;
  }
}