@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&family=Viaoda+Libre&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 93.75%; } }

body {
  font-size: 1.6rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400; }

#root {
  position: relative; }

.container {
  width: 80% !important;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 90% !important; } }

.active {
  color: #FFCE8A !important; }

.bg-dark {
  background-color: #1e2233;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1; }

.bg-transparent {
  background-color: transparent; }

.section-heading {
  color: #FFCE8A;
  font-size: 2.4rem;
  text-transform: uppercase; }

.mt-md {
  margin-top: 4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-xs {
  margin-bottom: 1rem; }

.color-gold {
  color: #FFCE8A; }

.color-purple {
  color: #AF20D2; }

.color-green {
  color: #21DE34; }

.color-blue {
  color: #00B5F8; }

.color-brown {
  color: #7B685F; }

.color-orange {
  color: #E28743; }

.color-green-pale {
  color: #71BE95; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  transition: all 0.2s; }
  .navbar__brand, .navbar__brand:link, .navbar__brand:visited {
    color: #fff;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 3.6rem; }
  .navbar__navigation {
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 1.8rem;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .navbar__navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .navbar__navigation-item {
      cursor: pointer; }
      .navbar__navigation-item a, .navbar__navigation-item a:link, .navbar__navigation-item a:visited {
        text-decoration: none;
        color: inherit; }
      .navbar__navigation-item:not(:first-of-type) {
        margin-left: 2.2rem; }
      .navbar__navigation-item:hover {
        color: #FFCE8A; }
  .navbar__mobile {
    padding: 10px;
    background-color: #FFCE8A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .navbar__mobile {
        display: block; } }
    .navbar__mobile-icon {
      margin-top: 9px;
      position: relative; }
      .navbar__mobile-icon, .navbar__mobile-icon::after, .navbar__mobile-icon::before {
        width: 20px;
        height: 1px;
        background-color: #1e2233;
        transition: all 0.2s;
        display: none; }
        @media only screen and (max-width: 43.75em) {
          .navbar__mobile-icon, .navbar__mobile-icon::after, .navbar__mobile-icon::before {
            display: inline-block; } }
      .navbar__mobile-icon::before, .navbar__mobile-icon::after {
        content: "";
        position: absolute;
        left: 0; }
      .navbar__mobile-icon::after {
        top: -7px; }
      .navbar__mobile-icon::before {
        bottom: -7px; }
  .navbar__checkbox:checked + .navbar__mobile .navbar__mobile-icon {
    background-color: transparent; }
  .navbar__checkbox:checked + .navbar__mobile .navbar__mobile-icon::before {
    transform: rotate(45deg);
    bottom: 0; }
  .navbar__checkbox:checked + .navbar__mobile .navbar__mobile-icon::after {
    transform: rotate(-45deg);
    top: 0; }

.btn, .btn:visited, .btn:link {
  text-decoration: none;
  cursor: pointer; }

.btn--outline {
  font-size: 1.8rem;
  color: #FFCE8A !important;
  background-color: #1e2233;
  border: 1px solid #FFCE8A;
  padding: 1rem 3rem; }
  @media (hover: none) {
    .btn--outline {
      color: #FFCE8A !important; } }
  .btn--outline:hover {
    color: #fff !important; }

.dropdown {
  position: relative; }
  .dropdown__menu {
    margin-top: 0.5rem;
    position: absolute;
    left: -2rem;
    list-style: none;
    background-color: #FFCE8A;
    color: #1e2233;
    border-radius: 5px;
    padding: 1rem 2rem;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s; }
    .dropdown__menu-item:not(:last-of-type) {
      margin-bottom: 1rem; }
    .dropdown__menu-item:hover {
      cursor: pointer;
      color: #fff; }
  .dropdown:hover .dropdown__menu {
    visibility: visible;
    opacity: 1; }
  @media (hover: none) {
    .dropdown:target .dropdown__menu {
      visibility: visible;
      opacity: 1; } }

.home__header {
  position: relative;
  height: 52.5rem;
  background-image: url(../images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  @media only screen and (max-width: 37.5em) {
    .home__header {
      background-image: url(../images/bg-header-mobile.svg);
      height: 80vh; } }

.home__text-container {
  position: absolute;
  left: 11%;
  top: 50%;
  transform: translateY(-50%);
  width: 37%;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 0 2.5rem;
  padding-top: 6rem;
  padding-bottom: 1.3rem; }
  @media only screen and (max-width: 66.125em) {
    .home__text-container {
      top: 43%;
      width: 43%; } }
  @media only screen and (max-width: 44.875em) {
    .home__text-container {
      padding-top: 4rem;
      top: 37%; } }
  @media only screen and (min-width: 112.5em) {
    .home__text-container {
      padding-top: 4rem;
      width: 45%; } }
  @media only screen and (max-width: 37.5em) {
    .home__text-container {
      top: 50%;
      width: 80%; } }

.home__text-pre {
  color: #FFCE8A;
  font-size: 3.6rem;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 82.75em) {
    .home__text-pre {
      font-size: 3rem; } }
  @media only screen and (max-width: 66.125em) {
    .home__text-pre {
      font-size: 2rem; } }
  @media only screen and (max-width: 44.875em) {
    .home__text-pre {
      font-size: 1.6rem; } }

.home__heading {
  color: #fff;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1.2rem; }
  @media only screen and (max-width: 82.75em) {
    .home__heading {
      font-size: 7rem; } }
  @media only screen and (max-width: 66.125em) {
    .home__heading {
      font-size: 6rem; } }
  @media only screen and (max-width: 44.875em) {
    .home__heading {
      font-size: 5rem; } }

.home__text-sub {
  font-size: 2.4rem;
  font-style: italic;
  color: #868DA6; }
  @media only screen and (max-width: 82.75em) {
    .home__text-sub {
      font-size: 2rem; } }
  @media only screen and (max-width: 66.125em) {
    .home__text-sub {
      font-size: 1.5rem; } }

.home__icons {
  margin-top: 0.9rem; }

.home__icon {
  display: inline-block;
  width: auto;
  height: 30px; }
  .home__icon:not(:last-of-type) {
    margin-right: 2rem; }
  .home__icon img {
    width: auto;
    height: 100%; }

.home__about-me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  background-color: #303551; }

.about-me__col-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.about-me__col-2 {
  width: 70%; }
  @media only screen and (max-width: 34.9375em) {
    .about-me__col-2 {
      width: 100%;
      padding: 2rem; }
      .about-me__col-2 p {
        margin-top: 0; } }

.about-me__image {
  height: 60%;
  max-width: 80%;
  width: auto; }

.about-me__heading {
  font-size: 6.4rem;
  font-family: "Viaoda Libre", cursive;
  color: #fff; }

.about-me__text {
  color: #fff;
  font-size: 2.4rem;
  padding: 1rem 0; }
  .about-me__text:last-of-type {
    margin-bottom: 15rem; }
