.btn {
  &,
  &:visited,
  &:link {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  &--outline {
    font-size: 1.8rem;
    color: $color-gold !important;
    background-color: $color-black;
    border: 1px solid $color-gold;
    padding: 1rem 3rem;
    
    @include no-hover {
      color: $color-gold !important;
    }

    &:hover {
      color: $color-white !important;
    }
  }
  &--fill {
    border: none;
    padding: 1.5rem 10rem;
    color: $color-black;
    background-color: $color-gold;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $transition-small;

    &:hover {
      color: $color-white;
      transform: translateY(-1rem);
    }
    &:active {
      transform: translateY(0);
      box-shadow: $box-shadow-sm;
    }
  }
}