.project-card {
  min-width: 36.6rem;
  max-width: 36.6rem;
  width: 100%;
  background-color: $color-light-blue;
  border-radius: $border-radius;
  overflow: hidden;

  &__image {
    height: 26.9rem;
    width: auto;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    padding: 1.5rem 1rem;
  }
  &__heading {
    font-family: $font-viaoda-libre;
    font-size: 3rem;
    color: $color-gold;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &__content {
    font-size: 2.4rem;
    color: $color-white;
    margin-bottom: 4rem;
  }
}