.work-tile {
  display: flex;
  background-color: $color-black;
  padding: 3rem 3rem;
  border-radius: $border-radius;
  border: 2px solid $color-gold;
  align-items: flex-start;
  margin-bottom: 4rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &__image {
    max-width: 15rem;
    width: 100%;
    align-self: center;
    margin-right: 1rem;
    padding: 1rem;

    & img {
      width: 100%;
    }
  }
  &__heading {
    color: $color-gold;
    font-size: 3.6rem;
    font-family: $font-viaoda-libre;
    margin-bottom: 1rem;

    @include respond(phone) {
      text-align: center;
    }
  }
  &__content {
    font-size: 2.4rem;
    color: $color-white;
  }
}