<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/error_page.css">
  <title>Page Not Found</title>
</head>

<body>

  <div class="center-text">
    <p>Sorry Page Not Found</p>
  </div>

</body>

</html>