$font-dancing-script: 'Dancing Script', cursive;
$font-ubuntu-mono: 'Ubuntu Mono', monospace;
$font-viaoda-libre: 'Viaoda Libre', cursive;

$default-font-size: 1.6rem;

$color-black: #1e2233;
$color-white: #fff;
$color-gold: #FFCE8A;
$color-grey: #868DA6;
$color-light-blue: #303551;
$color-purple: #AF20D2;
$color-green: #21DE34;
$color-blue: #00B5F8;
$color-brown: #7b685f;
$color-orange: #E28743;
$color-green-pale: #71BE95;

$bg-header-desktop: url(../images/bg-header-desktop.svg);
$bg-header-mobile: url(../images/bg-header-mobile.svg);

$border-radius: 5px;
$border-radius-sm: 3px;
$small-box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
$transition-small: all 0.2s;