$font-dancing-script: "Dancing Script", cursive;
$font-ubuntu-mono: "Ubuntu Mono", monospace;
$font-viaoda-libre: "Viaoda Libre", cursive;
$font-cormorant: "Cormorant SC", serif;

$default-font-size: 1.6rem;
// old grey color #868DA6;
$color-dark-grey: #262626;
$color-green: #044008;
$color-grey: #cac7c7;
$color-grey-2: #595959;
$color-grey-3: #d7d7d9;

$color-black: #1e2233;
$color-black-2: #1f2334;
$color-black-3: #000;
$color-white: #fff;
$color-gold: #ffce8a;
$color-light-blue: #303551;
$color-purple: #af20d2;
$color-green: #21de34;
$color-blue: #00b5f8;
$color-brown: #7b685f;
$color-orange: #e28743;
$color-green-pale: #71be95;
$color-red: #ac3b44;

$bg-header-desktop: url(../images/bg-header-desktop.svg);
$bg-header-mobile: url(../images/bg-header-mobile.svg);

$border-radius: 5px;
$border-radius-sm: 3px;
$skew-angle: 30deg;
$box-shadow: 0rem 0.4rem 0.4rem rgba($color-black-3, 0.25);
$box-shadow-sm: 0rem 0.2rem 0.2rem rgba($color-black-3, 0.25);
$transition-small: all 0.2s;
