<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/home.css">

<header>

  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="nav-wrapper transparent">
      <div class="container">
        <a href="#" class="brand-logo">
          MY PORTFOLIO
        </a>
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>

        <!-- Large screen links -->
        <ul class="right hide-on-med-and-down">
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#work">WORK</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a
              href="https://www.linkedin.com/in/gerald-addo-tetteh-a28101182?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCmZEm4W8S2%2BgVeEJfcgVwg%3D%3D">
              <i class="fab fa-linkedin"></i>
            </a></li>
          <li><a href="https://github.com/gerald-tetteh?tab=repositories">
              <i class="fab fa-github"></i></a>
          </li>
        </ul>

        <!-- Mobile Links -->
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li>
            <img
              src="https://7gbypw.db.files.1drv.com/y4mTPnXHkiPMO__82YB8PHOKqTa_OJjnG-rN4_pAqpRTo9DaDIfOd6DPdBztglHOYEOCxJh34PsMYBHtldR5oxJHJIW7maT6vOjt0LeaJlfig68vaARpszkYd4bqnLphP7XiJZHm_RExRQp1KGH_moMz5Xy2X1uDsbdjZW_vX1XCl5zfXWFTwvJiENq2EQE7_wnt3ubnMKGjeHIZ11qwAxaUQ?width=459&height=575&cropmode=none"
              alt="Profile Image" class="responsive-img">
          </li>
          <li class="center-align blue-grey-text text-darken-4">
            <h4>Gerald Addo-Tetteh</h4>
          </li>
          <li class="black-text"><a href="#"><i class="material-icons grey-text text-darken-3 prefix">call</i>
              <span>0505091004</span></a>
          </li>
          <li><a
              href="https://www.linkedin.com/in/gerald-addo-tetteh-a28101182?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCmZEm4W8S2%2BgVeEJfcgVwg%3D%3D"><i
                class="fab fa-linkedin"></i>
              LinkedIn Profile
            </a></li>
          <li><a href=""><i class="fab fa-github"></i>
              Github Repositories
            </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Intro Text -->
  <div class="heading">
    <h1 class="heading-text--main">
      Welcome,
      I'm Gerald
    </h1>
    <h2 class="heading-text--sub">
      Android Developer || Web Developer
    </h2>
    <a class="download-cv" href="/cv">
      <span class="button-text">
        Download CV
      </span>
    </a>
  </div>

</header>

<main>
  <!-- About me -->
  <section class="aboutMe">
    <div class="aboutMe-heading container">
      <h3 class="aboutMe-heading--main">What am I About ?</h3>
      <hr>
      <div class="aboutMe-heading--detail">
        <p class="flow-text">
          Technology has always been a fascination. This spurred an interest in engineering and
          programming. I am familiar with the programming languages: Python, Javascript, Dart
          and Java. I am studying electrical engineering at Ashesi University, and I also build
          websites and android applications. Some of my work is below.
        </p>
      </div>
    </div>
  </section>

  <!-- featured skills -->
  <section class="featured-skills">
    <div class="featured-skills-heading green-button">
      <h3 class="featured-skills-heading--text">
        Featured Skills
      </h3>
    </div>
    <div class="row container-fluid">

      <!-- Flutter Development -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content valign-wrapper">
            <span>
              <img src="img/flutter_img.png" alt="Flutter icon" class="featured-img">
            </span>
            <span class="featured-text">Flutter Mobile Development</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Javascript -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content valign-wrapper">
            <span>
              <img src="img/node_img.png" alt="Node js icon" class="featured-img">
            </span>
            <span class="featured-text">Web Apps with Node JS</span>
            </p>
          </div>
        </div>
      </div>

      <!-- HTML & CSS -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content valign-wrapper">
            <span>
              <img src="img/android_img.png" alt="Android icon" class="featured-img">
            </span>
            <span class="featured-text">Android Development with Kotlin</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="projects">

    <h3 class="projects-heading">Projects</h3>
    <hr>

    <div class="parallax-container">
      <div class="parallax">
        <img
          src="https://klxedw.db.files.1drv.com/y4miSJlhR1sU2wA-zF_6YKyI1erphbc-LbqwdN644gI7TlyLo-N8k_ZQgAyIewbM3S7RDvLUmaXqWR_6EibGHJ7AhkToL4DcvQlwCkObrEVHpnk8uOyGeVxz1R0ghgb23QYptValvbT-gvLiAR1_GAoesOq9quUmZD_-2w7e16PDh0xTiHGtWu81UhcSsDF8k-0Hux0R-n8gDUpsYAx7TsPRw?width=1944&height=4015&cropmode=none">
      </div>
    </div>

    <section class="school-projects container">

      <div class="school-projects-heading green-button" id="projects">
        <h3 class="school-projects-heading--text">
          School Projects
        </h3>
      </div>

      <div class="row">
        <!-- Weather Station -->
        <div class="col s12 m4">
          <img src="/img/weather_station.jpg" alt="Weather Station" class="project-img">
        </div>
        <div class="col m8">
          <h4>Weather Station</h4>
          <p class="grid-p">
            Developed a portable weather station using environmentally friendly materials.
            The electrical components were developed using an Arduino Uno, a temperature
            sensor, an infrared sensor and an LCD. The LCD was used to display the
            temperature and wind speed. I built the electronic components and wrote the
            Arduino needed to operate the weather station.
          </p>
        </div>
      </div>

      <div class="row">
        <!-- Fire Alarm System -->
        <div class="col s12 m4">
          <img src="/img/fire_alarm.jpg" alt="Fire Alarm System" class="project-img">
        </div>
        <div class="col m8">
          <h4>Fire Alarm System</h4>
          <p class="grid-p">
            Developed a miniature fire alarm system which was entirely electronic.
            Current and voltage calculations were applied. The system used coloured LED's
            to represent the temperature variations in the room. A thermistor was used to
            determine the temperature in the room and in the process, the amount of current
            that should flow through it. Operational amplifers were used to turn on the
            LED's when the voltage at non-inverting input is higher than the voltage at the
            inverting input of the operational amplifier. When the temperature in the room
            is high enough, a buzzer will go off to signify danger.
          </p>
        </div>
      </div>

      <div class="row">
        <!-- Fire Alarm System -->
        <div class="col s12 m4">
          <img src="img/boat_image.png.jpg" alt="Fire Alarm System" class="project-img">
        </div>
        <div class="col m8">
          <h4>Speed Boat</h4>
          <p class="grid-p">
            Build a speed boat that could support 2kg of extra weight.
            The project applied principles of physics which we had studied that semester.
            We also practised soldering and using some machines at the school workshop.
          </p>
        </div>
      </div>

    </section>

    <div class="parallax-container">
      <div class="parallax">
        <img src="img/stereo_beats_header.png">
      </div>
    </div>

    <section class="personal-projects container">

      <div class="school-projects-heading green-button">
        <h3 class="school-projects-heading--text">
          Personal Projects
        </h3>
      </div>

      <div class="row">
        <!-- Stereobeats Music Player -->
        <div class="col s12 m4">
          <img src="img/ic_launcher.png" alt="Stereobeats" class="project-img">
        </div>
        <div class="col m8">
          <h4>Stereobeats</h4>
          <p class="grid-p">
            Stereobeats music player provides users with a beautiful user interface to look through and listen to
            their music. The application allows users to create playlists, listen to music, update the metadata of
            their songs and much more. Stereobeats also provides the user the ability to view the music video of a
            selected song on Youtube with just the push of a button.
          </p>
          <a href="/stereobeats" class="green-button">Go to Site</a>
        </div>
      </div>

      <div class="row">
        <!-- QR Code Scanner & Generator -->
        <div class="col s12 m4">
          <img src="img/qr_code_icon.png" alt="QR Code Scanner" class="project-img">
        </div>
        <div class="col m8">
          <h4>QR Code Scanner & Generator</h4>
          <p class="grid-p">
            This application was built using Flutter. It is available on mobile phones running Android and IOS. The
            application
            allows users to scan QR codes and create QR codes of their own. Users can create QR codes to store text,
            emails, phone numbers,
            location data, WIFI credentials and website links. The application is currently available on the google play
            store.
          </p>
          <!-- TODO: Add store link -->
          <!-- <a href="#" class="green-button">Go to Site</a> -->
        </div>
      </div>

      <div class="row">
        <!-- Exclusive News App -->
        <div class="col s12 m4">
          <div class="news-img-container project-img valign-wrapper">
            <img src="img/exclusive.png" alt="Exclusive News App" class="project-img">
          </div>
        </div>
        <div class="col m8">
          <h4>Exclusive News App</h4>
          <p class="grid-p">
            Developed a news app using flutter for mobile phone. The application retrieves
            data from a server in JSON format. The data is organised into a list of NewsItems.
            NewsItems is a class that describes how the news should look like. Finally the data
            is presented on the home screen in a list view. When the user clicks on any list item
            they a redirected to a new page; the detail page. The detail page show the news image at
            the top of the page and below it is the author, publisher and then the news text.
          </p>
          <a href="https://play.google.com/store/apps/details?id=com.addodevelop.exclusive" class="green-button">Go to
            Play Store</a>
        </div>
      </div>

    </section>

  </section>

  <section class="work_education_skils">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li id="work" class="tab col s4"><a href="#work_exp">Work Experience</a></li>
            <li class="tab col s4"><a href="#education">Education</a></li>
            <li id="skills" class="tab col s4"><a href="#skills_tab">Skills</a></li>
          </ul>
        </div>
        <!-- work -->
        <div id="work_exp" class="col s12">
          <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header">
                <img
                  src="https://ubcipg.db.files.1drv.com/y4mwMN8lCSdZjsea07YUqvXGlTwgcltPiaO80Ou0nbYWVuaAaSP_V4EwGQjUQA0a-XuGPtVtHgEMVsCUBc907HHJStXmhHHIaHTx3NxSN1-8-6h2GZgkI7smOnjdfJbZt5jBCLH3NqN40w61WdIBbOb-aWlvGu8ohxSDMTFulHCMjeWBTIPkZ8VEJYduBFvUmDjs-WOUtRSvX_ADG3Ci6BjoA?width=64&height=64&cropmode=none"
                  alt="Vodafone" class="responsive-img">
                <h4>Control Room Supervisor</h4>
              </div>
              <div class="collapsible-body">
                <span>
                  Managed operations in the control room at the Vodafone Exchange.
                  Assisted field engineers in connecting customers to telephone lines and
                  the internet in the control room. Helped to update the records of customers
                  in Teshie Nungua Estates.
                </span>
                <p>Jul 2019 - Aug 2019</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <img
                  src="https://joqmha.db.files.1drv.com/y4mD93nwUdDXI-iUwhx1s2aLge8213TgugVSiH0Qp6cip58Nh3do3D03P6bLtdh-hjivl8xcQPmkjlnma46mRE2fx2GM3jgl32su8tRZ640rPzPR4XSzi9WlwQFYNJVmdmnCT3R9t3MueJed2En3cvWnr5qdjFmsDDCxF9Cn2J0JELHI8_3H4gi6NhkJvyb-nIJIuNhZqP8RhMlqJw6dld5gQ?width=64&height=64&cropmode=none"
                  alt="Nyaho Medical Centre" class="responsive-img">
                <h4>Support Systems Intern</h4>
              </div>
              <div class="collapsible-body">
                <span>
                  Assisting with the repair and maintenance of equipment at
                  Nyaho Medical Centre (Job Shadowing).
                </span>
                <p>Jun 2019</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <img
                  src="https://57kseg.db.files.1drv.com/y4m562DHvj8uK3RtRWZEFHgqFiWurCZfDkqwhVfEl4Cul5pcJNwQoHmvQCZtp86RUalYPIl0jHBPLBTgIgnwa-_X-jcsICz1eMFyyqeKFzX7VkCSyl6cUoNbrGtXnOhMbWcJgMYHn5LvfTs6pGAfVu_-PS3YqotW0pCxT45rPVkWgAuO7H5c057Yu2WUmGpeE0r15UxGzeS22gdvv9Ct2S1xQ?width=64&height=64&cropmode=none"
                  alt="Charlotte's Memorial School" class="responsive-img">
                <h4>Library Assistant</h4>
              </div>
              <div class="collapsible-body">
                <span>
                  Assisted librarian in managing the library and with book sales at the
                  beginning of the academic year.
                </span>
                <p>May 2018 - Aug 2018</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <img
                  src="https://57kseg.db.files.1drv.com/y4m562DHvj8uK3RtRWZEFHgqFiWurCZfDkqwhVfEl4Cul5pcJNwQoHmvQCZtp86RUalYPIl0jHBPLBTgIgnwa-_X-jcsICz1eMFyyqeKFzX7VkCSyl6cUoNbrGtXnOhMbWcJgMYHn5LvfTs6pGAfVu_-PS3YqotW0pCxT45rPVkWgAuO7H5c057Yu2WUmGpeE0r15UxGzeS22gdvv9Ct2S1xQ?width=64&height=64&cropmode=none"
                  alt="Charlotte's Memorial School" class="responsive-img">
                <h4>Developed School Website</h4>
              </div>
              <div class="collapsible-body">
                <span>
                  Developed and manages school website.
                </span>
                <p>July 2020 - Present</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- Education -->
        <div id="education" class="col s12">
          <ul class="collection">
            <li class="collection-item avatar">
              <img
                src="https://9uedba.db.files.1drv.com/y4mTgEA2E7WSnKbano82mo_qidI5-ed33Sc2pa-q8RGZp1uFGkruXtf0zhFjeR5nCMjJc9APDjem1YcvTwOlP0JgRfmfqcjUGRNIcJPd-iguB3H1-3kJLerxZlJwBwUwlGE0Pc-IyaKFHEgLWlyGccMtIfCIHLUKotxEVrLZDx8etDvthDEHPTrqXCpquIhM4QEt-8xWsotzLMVYbkjXSxTLw?width=64&height=64&cropmode=none"
                alt="Ashesi University" class="circle">
              <span class="title">Ashesi University</span>
              <p>Electrical Engineering <br>
                <span>August 2018 to Present</span>
              </p>
            </li>
            <li class="collection-item avatar">
              <img
                src="https://ixxq4q.db.files.1drv.com/y4mZse9s1tSpYeqK9tUa3RmaJxcEhpToxrs3fQzoIkuLg8rFf-Gzim2IfGSCvKmIUiowd_jbtuBZjG3BKCZY_upvEE-NYJibmV3ys3c70H3RwSGbaPGbGRqy7m7QMaPh7M-s2FeO0LY9FozHuyUlv5I34SvfAOlX9T0GSPlk_E36dnJWYKVUtYZE4HIKTQ3AlyXVxFq4d1o91Fy1-tfDuwjXQ?width=64&height=64&cropmode=none"
                alt="Presbyterian Boys Secondary School" class="circle">
              <span class="title">Presbyterian Boys Secondary School</span>
              <p>General Science <br>
                <span>September 2015 to May 2018</span>
              </p>
            </li>
          </ul>
        </div>
        <!-- Skills -->
        <div id="skills_tab" class="col s12">
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="fas fa-code circle black"></i>
              <span class="title">Web Development</span>
              <p>
                Developing Websites with Node.js (Full Stack).
                Including this Portfolio.
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="fas fa-mobile circle blue"></i>
              <span class="title">Mobile App Development</span>
              <p>
                Using Flutter and Kotlin to Develop Mobile Applications.
              </p>
            </li>
            <li class="collection-item avatar">
              <img
                src="https://hanhvw.db.files.1drv.com/y4mo1EfrA_BNFzGr_26Y3rOozK4YhoQspknswqURA6dMeyje5deBe5UmGEPX1QiToLjkVAeIO0dRYBaB-TZA1jN-BNjbkhVirkgRAslTnIl2aZ33yZ1YjYfInxgpB7Cn-L3KhuS8bNiwnEYN-uiR-35wbrrUkbW-BGIXGXUeghcM5_qpE_Tque2Pg1yGnAQAYE3ZZgRFCE6bszbXKPSlCLhYA?width=64&height=64&cropmode=none"
                alt="Arduino" class="circle green">
              <span class="title">Arduino Programming</span>
              <p>
                Building Circuits Using Arduino. <br>
                These Include a Miniature
                Weather Station and a Device to Measure Distance
                From an Object and the Speed of Sound.
              </p>
            </li>
            <li class="collection-item avatar">
              <i class="fab fa-python circle green"></i>
              <span class="title">Python Programming</span>
              <p>
                Building Programs Using Python. <br>
                Such as an Encryption Program and some
                Desktop Applicaions.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </section>

</main>

<%- include("../partials/footer") %>