<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/home.css">

<header>

  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="nav-wrapper transparent">
      <div class="container">
        <a href="#" class="brand-logo">
          MY PORTFOLIO
        </a>
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>

        <!-- Large screen links -->
        <ul class="right hide-on-med-and-down">
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#work">WORK</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a
              href="https://www.linkedin.com/in/gerald-addo-tetteh-a28101182?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCmZEm4W8S2%2BgVeEJfcgVwg%3D%3D">
              <i class="fab fa-linkedin"></i>
            </a></li>
          <li><a href="https://github.com/gerald-tetteh?tab=repositories">
              <i class="fab fa-github"></i></a>
          </li>
        </ul>

        <!-- Mobile Links -->
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li>
            <img
              src="https://7gbypw.db.files.1drv.com/y4mTPnXHkiPMO__82YB8PHOKqTa_OJjnG-rN4_pAqpRTo9DaDIfOd6DPdBztglHOYEOCxJh34PsMYBHtldR5oxJHJIW7maT6vOjt0LeaJlfig68vaARpszkYd4bqnLphP7XiJZHm_RExRQp1KGH_moMz5Xy2X1uDsbdjZW_vX1XCl5zfXWFTwvJiENq2EQE7_wnt3ubnMKGjeHIZ11qwAxaUQ?width=459&height=575&cropmode=none"
              alt="Profile Image" class="responsive-img">
          </li>
          <li class="center-align blue-grey-text text-darken-4">
            <h4>Gerald Addo-Tetteh</h4>
          </li>
          <li class="black-text"><a href="#"><i class="material-icons grey-text text-darken-3 prefix">call</i>
              <span>0505091004</span></a>
          </li>
          <li><a
              href="https://www.linkedin.com/in/gerald-addo-tetteh-a28101182?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCmZEm4W8S2%2BgVeEJfcgVwg%3D%3D"><i
                class="fab fa-linkedin"></i>
              LinkedIn Profile
            </a></li>
          <li><a href=""><i class="fab fa-github"></i>
              Github Repositories
            </a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Intro Text -->
  <div class="heading">
    <h1 class="heading-text--main">
      Welcome,
      I'm Gerald
    </h1>
    <h2 class="heading-text--sub">
      Android Developer || Web Developer
    </h2>
    <a class="download-cv" href="https://www.google.com">
      <span class="button-text">
        Download CV
      </span>
    </a>
  </div>

</header>

<main>
  <section class="aboutMe">
    <div class="aboutMe-heading container">
      <h3 class="aboutMe-heading--main">What am I About ?</h3>
      <hr>
      <div class="aboutMe-heading--detail">
        <p class="flow-text">
          Technology has always been a fascination. This spurred an interest in engineering and
          programming. I am familiar with the programming languages: Python, Javascript, Dart
          and Java. I am studying electrical engineering at Ashesi University, and I also build
          websites and android applications. Some of my work is below.
        </p>
      </div>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>