.home-page {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

  &__sidebar {
    grid-column: 1 / 2;
    background-color: $color-dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;

    &__links,
    &__text {
      animation: sidebarFadeIn 0.4s ease-in;
    }
    &__link {
      & a,
      & a:link,
      & a:visited {
        color: $color-grey;
        font-size: 2rem;
      }
      & a:hover {
        color: $color-green;
      }
    }
  }
  &__nav {
    position: absolute;
    top: 3rem;
    right: 5rem;
    left: 22rem;
    border-bottom: 1px solid $color-grey-2;
    z-index: 10;
    animation: navFadeIn 0.4s ease-in;

    &__list {
      display: flex;
      justify-content: end;

      &-item {
        margin-inline: 1rem;
        text-transform: uppercase;
        position: relative;

        & a,
        & a:link,
        & a:visited {
          color: $color-grey-2;
          text-decoration: none;

          &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            border: 1px solid transparent;
            transition: all 0.3s;
            position: absolute;
            bottom: -2px;
            top: 0;
            left: 0;
          }
          &:hover::before {
            width: 100%;
            border-bottom-color: $color-red;
          }
        }
        & a:hover {
          color: $color-red;
        }
      }
    }
  }
  &__main {
    grid-column: 2 / 13;
    background-color: $color-grey;
    max-height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  &__section {
    height: 100vh;
    scroll-snap-align: start;

    &-1 {
      position: relative;

      &__content {
        @include absolute-center;
        width: 50%;
      }
      &__heading {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-cormorant;
        font-size: 5rem;
        color: $color-dark-grey;

        & span {
          transform: translateY(-200px);
          display: inline-block;
          opacity: 0;
          transition: all 0.2s;

          &.animate-letter {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      &__sub-heading {
        text-align: center;
        font-size: 1.7rem;
        color: lighten($color-dark-grey, 20);
        animation: subTitleFadeIn 0.4s ease-in 2s backwards;
      }
      &__bar {
        right: 6rem;
        width: 20rem;
        height: 2rem;
        background-color: $color-dark-grey;
        position: absolute;
        transform: skewX(-$skew-angle);
        animation: headingBarAnimation 2.4s cubic-bezier(0.32, 1.66, 0.81, 0.31);
      }
      &__icons {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        top: 65%;
        left: 50%;
        background-color: $color-dark-grey;
        transform: translateX(-50%) skewX(-$skew-angle);
        padding: 1rem;
        animation: languageIconsAnimation 2.4s ease-in-out 2.4s backwards;

        & img {
          transform: skewX($skew-angle);
        }
      }
    }
    &-2 {
    }
    &-3 {
    }
  }
}
