<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/stereo_beats.css">

<header class="page-header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <span class="part-1 default-part-1">Stereo</span><span class="part-2 default-part-2">beats</span>
      </a>
      <ul id="nav-mobile" class="right">
        <li><a href="https://play.google.com/store/apps/details?id=com.herokuapp.addodevelop.stereo_beats_main"><i
              class="material-icons">shop</i></a></li>
        </li>
      </ul>
    </div>
  </nav>

  <div class="shape-wrapper-red">
    <div class="intro-card">
      <div class="page-header-intro">
        <h1 class="page-header-text">
          <span class="part-1 large-part-1">Stereo</span><span class="part-2 large-part-2">beats</span>
          <img src="img/ic_launcher.png" alt="App Icon" class="intro-card-img">
        </h1>
        <span class="red-text">by</span> <span class="developer-name">addo develop</span>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="app-overview">
    <div class="row">
      <div class="col l4 m6 s12">
        <div class="card brown darken-1">
          <div class="card-content white-text">
            <span class="card-title">Multiple Playing Formats<i class="material-icons">music_note</i></span>
            <p>
              Sterobeats is compatible with a wide range of audio formats.
              So no matter what it is Stereobeats has got it covered. Just press
              play and we'll do the rest. :)
            </p>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card blue darken-1">
          <div class="card-content white-text">
            <span class="card-title">Playlists <i class="fa fa-list-alt" aria-hidden="true"></i></span>
            <p>
              Stereobeats allows you to create playlists to organize
              your favourite songs and improve your listening experience.
              Playlist are only available within the app.
            </p>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Youtube <i class="fa fa-youtube-play" aria-hidden="true"></i></span>
            <p>
              With Stereobeats you can search for the video of the
              song that is playing and view it in the Youtube app if is
              available on your device. Otherwise in your browser.
            </p>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card deep-purple darken-1">
          <div class="card-content white-text">
            <span class="card-title">Edit Metadata <i class="fa fa-music" aria-hidden="true"></i></span>
            <p>
              With stereobeats you will be able to view song details and
              edit the metadata of any song with a UTF-8 encoding. Songs with
              a different encoding would not be changed.
            </p>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Equalizer <i class="material-icons">equalizer</i></span>
            <p>
              Stereobeats gives you access to the device equalizer
              and all features available on the device it is used on.
              The equalizer only affects music played through the app.
            </p>
          </div>
        </div>
      </div>
      <div class="col l4 m6 s12">
        <div class="card teal darken-1 hoverable">
          <div class="card-content white-text">
            <span class="card-title">Get on Google Play</span>
            <p class="center-text">
              <a
                href='https://play.google.com/store/apps/details?id=com.herokuapp.addodevelop.stereo_beats_main&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                  alt='Get it on Google Play' class="google-badge"
                  src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>