<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/stereo_beats.css">

<header class="page-header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <span class="part-1 default-part-1">Stereo</span><span class="part-2 default-part-2">beats</span>
      </a>
      <ul id="nav-mobile" class="right">
        <li><a href="#"><i class="material-icons">shop</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="shape-wrapper-red">
    <div class="intro-card">
      <div class="page-header-intro">
        <h1 class="page-header-text">
          <span class="part-1 large-part-1">Stereo</span><span class="part-2 large-part-2">beats</span>
          <img src="img/ic_launcher.png" alt="App Icon" class="intro-card-img">
        </h1>
        <span class="red-text">by</span> <span class="developer-name">addo develop</span>
      </div>
    </div>
  </div>
</header>

<%- include("../partials/footer") %>