.container {
  width: 80% !important;
  margin: 0 auto;

  @include respond(phone) {
    width: 90% !important;
  }
}
.active {
  color: $color-gold !important;
}
.bg-dark {
  background-color: #1e2233 !important;
  padding: 1rem !important;
  border-radius: $border-radius !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.hide-content {
  transform: translateY(60rem) !important;
}
.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.mt-md {
  margin-top: 4rem !important;
}
.mt-n-sm {
  margin-top: -2rem !important;
}
.mb-sm {
  margin-bottom: 2rem !important;
}
.mr-xs {
  margin-right: 1rem !important;
}
.mr-md {
  margin-right: 4rem !important;
}
.mb-md {
  margin-bottom: 4rem !important;
}
.mb-xs {
  margin-bottom: 1rem !important;
}
.p-xs {
  padding: 0.7rem !important;
}
.pl-sm {
  padding-left: 2rem !important;
}

.color-gold {
  color: $color-gold !important;
}
.color-purple {
  color: $color-purple !important;
}
.color-green {
  color: $color-green !important;
}
.color-blue {
  color: $color-blue !important;
}
.color-brown {
  color: $color-brown !important;
}
.color-orange {
  color: $color-orange !important;
}
.color-green-pale {
  color: $color-green-pale !important;
}